@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F5F6;
  --foreground: #000000;
  --primary: #1FA46C;
  --border: #999999;
  ;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
